<div class="row">
	<div class="col-xs-12">
		<img
			[src]="recipe.imagePath"
			alt=""
			srcset=""
			style="max-height: 300px"
			class="img-responsive"
		/>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{ recipe.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group" appDropdown>
			<button
				type="button"
				class="btn btn-primary dropdown-toggle"
				id="dropdownMenuButton1"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				Manage Recipe
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li>
					<a class="dropdown-item" (click)="onAddToShoppingList()">Shopping List</a>
				</li>
				<li>
					<a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
				</li>
				<li>
					<a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		{{recipe.description}}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			<li
				class="list-group-item"
				*ngFor="let ingredient of recipe.ingredients"
			>
			{{ ingredient.name }} - {{ingredient.amount}}
			</li>
		</ul>
	</div>
</div>
