<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand col-2" href="#" (click)="goTo('home')">Recipe Book</a>
		<ul class="navbar-nav d-flex flex-row">
			<li class="nav-item p-2 active">
				<a class="nav-link" href="#" (click)="goTo('recipes')">Recipes</a>
			</li>
			<li class="nav-item p-2">
				<a class="nav-link" href="#" (click)="goTo('shoppingList')">Shopping List</a>
			</li>
			<li class="nav-item p-2 dropdown" appDropdown>
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="navbarDropdown"
					role="button"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					Manage
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li>
						<a class="dropdown-item" href="#">Save Data</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Fetch Data</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
