<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="onSubmit()" #form="ngForm">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input
						class="form-control"
						type="text"
						id="name"
						name="name"
						required
						ngModel
					/>
				</div>
				<div class="col-sm-2 form-group">
					<label for="amount">Amount</label>
					<input
						class="form-control"
						min="1"
						type="number"
						id="amount"
						name="amount"
						pattern="^[1-9]\d*$"
						required
						ngModel
					/>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-xs-12">
					<button
						class="btn btn-success"
						type="submit"
						[disabled]="form.invalid"
					>
						{{ editMode ? "Update" : "Add" }}
					</button>
					<button
						*ngIf="editMode"
						class="btn btn-danger"
						type="button"
						(click)="onDelete()"
					>
						Delete
					</button>
					<button
						class="btn btn-primary"
						type="button"
						(click)="onClear()"
						[disabled]="form.invalid"
					>
						Clear
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
