.edit-recipe-form input {
    margin: 12px 0 0 0;
}

.d-flex {
    align-items: center;
}

.form-submit {
    margin: 10px 0;
}

.form-submit > * {
    padding: 0;
}

.form-submit .btn-success {
    margin-right: 12px;
}

textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
    border: 1px solid tomato;
}